* {
	font-family: Times New Roman, Verdana, sans-serif;
	color: #pink;
	text-align: center;
}

body {
	width: 960px;
	margin: 0 auto;
	background-color: #C2F0B9;}
	#content: {;
	overflow: auto;
	height: 100%};
	.column1, .column2, .column3 {
	float: left;
	margin: 10px;}
	

nav {
	background-color: #FDFDFD;
	padding: 10px;
	margin: 10px;

}

li {
	display:  inline;
	padding:  5px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color: #9DE9B5;
	color: #E480E7;
	padding: 10px;
	margin: 10auto;
}

article {
	background-color: #9DE9B5;
	color: #E480E7;
	padding: 10px;
	margin: 10px;
	width: 320px;
	height: 550px;
	float: left;
}


h1 {
	color: #EEB9ED;
	font-family: Verdana;
	font-size: 200%;
}


.mart {
	background-color: #9DE9B5;
}

.mart2 {
	width: 280px;
	padding: 10px;
	background-color: #9DE9B5;
}

dl{
	color: #E480E7;
}




